<template>
  <div>
    <!-- connection status -->
    <p v-if="connection">Ready state = {{ connection.readyState }}</p>
    <!-- connection status message -->
    <p v-if="connectionStatusMsg">
      {{ connectionStatusMsg }}
    </p>
    <!-- connection error -->
    <p v-if="connectionErrorMsg">
      {{ connectionErrorMsg }}
    </p>
    <!-- connection closed -->
    <p v-if="connectionClosedMsg">
      {{ connectionClosedMsg }}
    </p>
    <p>{{ timeoutCount }}</p>
    <h2>Vue.js WebSocket Tutorial</h2>
    <input type="text" name="msg" id="msg" v-model="msg" /> <br />
    <br />
    <button @click="sendMessage(msg)">Send Message</button>
    <h4>Response: {{ serverMessage }}</h4>
  </div>
</template>

<script>
/* eslint-disable no-unused-vars */
export default {
  name: "Home",
  data() {
    return {
      connection: null,
      serverMessage: "",
      timeoutId: null,
      timeoutCount: 0,
      wsUrl: "ws://127.0.0.1:3001",
      msg: "",
      connectionErrorMsg: "",
      connectionClosedMsg: "",
      connectionStatusMsg: ""
    };
  },
  methods: {
    sendMessage(message) {
      // console.log(this.connection);
      // console.log("Send Message conn state:", this.connection.readyState);
      this.timeoutCount = 0;
      if (this.connection.readyState !== 1) {
        // retry connecting
        this.reconnect();
        return;
      }

      this.connection.send(message);
    },
    reconnect(event) {
      if (event) {
        if (event.wasClean === false) {
          // eslint-disable-next-line no-unused-vars
          this.timeoutId = setTimeout(() => {
            if (this.connection.readyState === 1) {
              this.timeoutCount = 0;
              this.connectionStatusMsg = "Reconnected successfully";
              clearTimeout(this.timeoutId);
              return;
            }

            this.timeoutCount += 1;
            console.log("Reconnecting to WebSocket Server");
            this.connectionErrorMsg = "";
            this.connectionStatusMsg = "Reconnecting to WebSocket Server";
            this.connection = new WebSocket(this.wsUrl);
          }, 2000);
        }
      } else {
        // eslint-disable-next-line no-unused-vars
        this.timeoutId = setTimeout(() => {
          if (this.connection.readyState === 1) {
            this.timeoutCount = 0;
            this.connectionStatusMsg = "Reconnected successfully";
            clearTimeout(this.timeoutId);
            return;
          }

          this.timeoutCount += 1;
          console.log("Reconnecting to WebSocket Server");
          this.connectionErrorMsg = "";
          this.connectionStatusMsg = "Reconnecting to WebSocket Server";
          this.connection = new WebSocket(this.wsUrl);
        }, 2000);
      }
    }
  },
  mounted() {
    console.log("Starting connection to WebSocket Server");
    this.connection = new WebSocket(this.wsUrl);
  },
  watch: {
    connection(newValue) {
      // console.log("Connection Watcher:", newValue);

      newValue.onopen = event => {
        this.connectionStatusMsg = "";
        this.connectionErrorMsg = "";
        this.timeoutCount = 0;
        console.log("Successfully connected to the websocket server...");
      };

      newValue.onmessage = event => {
        console.log("Response from server...:", event);
        this.serverMessage = event.data;
      };

      newValue.onerror = event => {
        console.log("ERROR:", event);
        // this.connectionErrorMsg = "Connectoin error. Please try again later";
      };

      newValue.onclose = event => {
        console.log("Connection Closed", event);

        if (this.timeoutCount !== 5) {
          // reconnecting
          this.reconnect(event);
        }
      };
    },
    timeoutCount(newValue) {
      if (newValue === 5) {
        // max retry count
        clearTimeout(this.timeoutId);
        console.log("Timeout Cleared");
        this.connectionErrorMsg = "Connectoin error. Please try again later";
        this.connectionStatusMsg = "";
      }
    }
  }
};
</script>
